{% extends "btell_main/frame.html" %} {% block page_title %} Branching Stories {% endblock %} {% block main %}
<main class="flex-shrink-0">
    <div class="container">
        <h1>Hello world!</h1>
        <h1>News!</h1>
        <div class="container-fluid py-4">
            <div class="row">
                <!-- <div class="col-lg-9 ps-0"><div class="bg-light border">NEWS</div></div>
                <div class="col-lg-3 pe-0"><div class="bg-light border">LOGIN</div></div> -->
                <div class="col-lg-9 ps-0">
                    <div class="bg-light border">
                        <div class="m-2">One more header if you need one</div>
                        <!-- For loop through all the news you have starts here -->
                        <!-- This is to be made cute when we have something to show -->
                        <div class="ps-2 pt-3 pe-1">
                            <div class="pt-3">This is the first news header about the first news header.</div>
                            <div class="pt-3">This here is the very first explanation of the first news header being
                                about the first news header and not the explanation of the fight news header that's a
                                news header and not an explanation of the news header that's an explanation of the news
                                header, which is not, in this case, an explanation of a news header not being a news
                                header, unless it is a news header about an explanation of a news header being a news
                                header explanation. Which it's not.</div>
                        </div>
                        <!-- End forloop -->
                    </div>
                </div>
                <div class="col-lg-3 pe-0">
                    <div class="bg-light border">
                        {% if btell_user %}
                        <p>User is logged in!</p>
                        {% include "btell_main/loggedin_fragment.html" %}
                        {% else %}
                        {% include "btell_main/login_fragment.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <css> . </css>
</main>
{% endblock %}