<form name="login-container" class="p-2" method="POST" action="/a/login/">
    {% csrf_token %}
    <div class="form-group mt-1">
        <label for="id_username">Login</label>
        <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" />
    </div>
    <div class="form-group mt-3">
        <label for="id_password">Password</label>
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-primary mt-3" value="login">Login</button>
</form>