{% extends "btell_main/frame.html" %} {% block page_title %} Branching Stories - Log in {% endblock %} {% block main %}
<main class="flex-shrink-0">
    <div class="container">
        {% if user.is_authenticated %}
        <h2 class="flex login-registration-style">Nice try, but you're already logged in.</h2>
        {% else %}
        <form name="register-container" class="p-2" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group row mt-3 d-flex flex-wrap justify-content-center mt-3">
                <label class="col-sm-1 col-form-label">{{form.username.label}} </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required />
                </div>
                {% if form.errors and form.errors.username %}
                <div class="d-flex flex-wrap justify-content-center mt-3">{{ form.errors.username }}</div>
                {% endif %}
            </div>
            <div class="form-group row mt-3 d-flex flex-wrap justify-content-center mt-3">
                <label class="col-sm-1 col-form-label">{{form.password1.label}} </label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" required />
                </div>
                {% if form.errors and form.errors.password1 %}
                <div class="d-flex flex-wrap justify-content-center mt-3">{{ form.errors.password1 }}</div>
                {% endif %}
            </div>
            <div class="form-group row mt-3 d-flex flex-wrap justify-content-center mt-3">
                <label class="col-sm-2 col-form-label">{{form.password2.label}} </label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Password" required />
                </div>
                {% if form.errors and form.errors.password2 %}
                <div class="d-flex flex-wrap justify-content-center mt-3">{{ form.errors.password2 }}</div>
                {% endif %}
            </div>
            <div class="form-group row mt-3 d-flex flex-wrap justify-content-center mt-3">
                <label class="col-sm-1 col-form-label">{{form.email.label}} </label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="id_email" name="email" placeholder="E-mail address" required />
                </div>
                {% if form.errors and form.errors.email %}
                <div class="d-flex flex-wrap justify-content-center mt-3">{{ form.errors.email }}</div>
                {% endif %}
            </div>
            <div class="form-check mt-3 d-flex flex-wrap justify-content-center mt-3" style="gap: 13px">
                <input type="checkbox" class="form-check-input" id="tos" name="accepted_tos" required />
                <label class="form-check-label">I accept the Terms of Use. </label>
                {% if form.errors and form.errors.accepted_tos %}
                <div class="d-flex flex-wrap justify-content-center">{{ form.errors.accepted_tos }}</div>
                {% endif %}
            </div>
            <div class="form-check mt-3 d-flex flex-wrap justify-content-center mt-3" style="gap: 10px">
                <input type="checkbox" class="form-check-input" id="cookies" name="accepted_cookies" required />
                <label class="form-check-label">I accept the Cookie Policy. </label>
                {% if form.errors and form.errors.accepted_cookies %}
                <div class="d-flex flex-wrap justify-content-center">{{ form.errors.accepted_cookies }}</div>
                {% endif %}
            </div>
            <div class="d-flex flex-wrap justify-content-center mt-3">
                <button type="submit" class="btn btn-primary text-center" value="register">Register</button>
            </div>
        </form>
        {% endif %}
    </div>
</main>
{% if user.is_authenticated %} {% else %} {% endif %} {% endblock %}
